* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
  font-family: "Outfit", sans-serif; 
  margin: 0px;
  padding: 0px;
}

.topSqr {
    height: 400px;
    margin: 25px 25px 25px;
    border-radius: 12px;
    background-color: rgb(235, 235, 235);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
}

.textContainer {
    display: flex;
    margin-left: 0px;
    align-items: center;
    justify-content: space-between;
}

.imageContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    margin: 12px;
}

.imageContainer img {
    max-width: 300px;
    max-height: 100%;
    object-fit: cover;
    margin-left: 12px;

}

#currentText {
    font-size: 50px;
    text-align: left;
    justify-content: space-between;
}

#nextButton {
    margin-top: 10px;
    align-self: flex-end; 
    margin-right: 100px;
    background-color: transparent;
    border: 0px;
    font-size: 50px;
    cursor: pointer;
    flex: 1;
    margin: 20px;
}

#currentImage {
    max-width: 500px;
    object-fit: cover;
    margin-right: 50px;
    border-radius: 12px;

}


.synopsisContainer {
    flex: 1;
    margin: 20px;
    font-size: 20px;
}

.synopsisContainer p.synopsisTitle {
    font-size: 50px; 
    font-weight: bold;
}